version: '2'

services:
    db:
        restart: unless-stopped
        image: postgres
        container_name: db
        expose:
            - 5432
        environment:
            - POSTGRES_USER=${DB_USER}
            - POSTGRES_PASSWORD=${DB_PASSWORD}
        volumes:
            - db_data:/var/lib/postgresql/data
    buildbot:
        restart: unless-stopped
        depends_on:
            - db
        build:
            context: buildbot
            args:
                - db_user=${DB_USER}
                - db_password=${DB_PASSWORD}
                - BUILDBOT_BRANCH=${BUILDBOT_BRANCH}
                - GITHUB_OAUTH_CLIENT_ID=${GITHUB_OAUTH_CLIENT_ID}
                - GITHUB_OAUTH_CLIENT_SECRET=${GITHUB_OAUTH_CLIENT_SECRET}
                - GITHUB_STATUS_OAUTH_TOKEN=${GITHUB_STATUS_OAUTH_TOKEN}
                - FREEBSDCI_OAUTH_TOKEN=${FREEBSDCI_OAUTH_TOKEN}
                - FQDN=${FQDN}
        container_name: buildbot
        expose:
            - 8010
        ports:
            - 9989:9989/tcp
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
    frontend:
        restart: unless-stopped
        depends_on:
            - buildbot
        build:
            context: frontend
            args:
                - fqdn=${FQDN}
        environment:
            - CERTBOT_EMAIL=staticfloat@gmail.com
        container_name: frontend
        ports:
            - 80:80/tcp
            - 443:443/tcp
volumes:
    db_data:
