# This template has variables that are substituted in when it is installed into
# the `build` directory by our Makefile.  The variables are surrounded by curly
# braces and substituted through simple `sed` commands.
version: '2.1'
services:
    {service_name}:
        restart: unless-stopped
        build:
            context: worker
            args:
                # These first three arguments are secret, but shared across all workers,
                # so they're stored in the encrypted `secret.env` and transparently
                # included by symlinking `secret.env` into each build directory as the
                # special file `.env`, which is always transparently included by the
                # docker-compose build process
                - buildbot_server
                - buildbot_port
                - buildbot_password
                # These two arguments are per-worker deals, and are substituted in by
                # our make-shift make templating chops
                - buildworker_name={service_name}
                - L32={linux32}
        ulimits:
            nproc:  10000
            nofile: 10000
        networks:
            - default
            - ipv6_internal
        volumes:
            - srccache:/srccache
            - ccache:/home/buildworker/.ccache
            - /var/run/docker.sock:/var/run/docker.sock
            - {home}/.docker:/home/buildworker/.docker
    # Copy of above, but we don't build julia within this worker.  This is a
    # second buildworker instance that is used to test the output of the first
    # but without the benefit of the build tree; to ensure it works cleanly.
    tabularasa-{service_name}:
        restart: unless-stopped
        build:
            context: tabularasa
            args:
                - buildbot_server
                - buildbot_port
                - buildbot_password
                - buildworker_name=tabularasa_{service_name}
                - L32={linux32}
        ulimits:
            nproc:  10000
            nofile: 10000
        networks:
            - default
            - ipv6_internal
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
networks:
    ipv6_internal:
        external:
            name: ipv6_internal
volumes:
    ccache:
        external: true
    srccache:
        external: true
